<dl>
  <dt>Full Name:</dt>
  <dd>{{#link-to 'heroes.hero' hero.id}}{{hero.fullName}}{{/link-to}}</dd>
  <dt>AKA:</dt>
  <dd>{{hero.heroName}}</dd>
</dl>
<button onclick={{action 'assemble'}}>Assemble</button>
